.navbar {
  display: flex;
  flex-direction: row;
justify-content: space-between;
padding: .5rem;
background-color: var(--navbar-dark);
position: fixed;
width: 100%;
height: 6vh;
z-index: 20000;
i{
    font-size: 2.8rem;
} 

&__menu{
    &-button, &-user{
        cursor: pointer;
    }
}


}

main{
  padding-top: 6vh;
}

@include responsive(md) {
  .navbar {
  
  }
}

@include responsive(lg) {
  .navbar {
  
  }
}
