:root {
    --rojo-principal: #aa1a19;
    --rojo-claro: #cc1d1c;
    --rojo-fuerte: #931615;
    --amarillo-contraste: #f7cf28;
  
    --titulos-color: #6c6767;
    --parrafos-color: #464646;
    --texto-color: #342e2e;
  
    --base-gris: #958d8d;
    --base-gris-fuerte: #5c5555;
    --base-gris-media: #7b7373;
    --base-gris-claro: #ddd6d6;
    --base-cards: #f0f0f0;
  
    --default-font-size: 1.6rem;
  }
  